@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('keen-slider/keen-slider.min.css');

::-webkit-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #04268b;
}

::-moz-scrollbar {
  width: 10px;
  background-color: #f1f1f1;
}

::-moz-scrollbar-thumb {
  background-color: #04268b;
}

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  h2 {
    @apply text-2xl;
  }
  /* ... */
}
@layer components {
  .container {
    @apply px-4 my-0 mx-auto;
    @apply sm:w-full;
    @apply md:max-w-screen-md mx-auto;
    @apply lg:max-w-5xl;
    @apply xl:max-w-7xl;
  }
  .outline-text {
    color: white;
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 2px 0 #fff;
  }

  .section {
    @apply py-14 my-0 w-full;
  }
  .button {
    @apply cursor-pointer;
  }
  .is-hiddden {
    @apply opacity-0 pointer-events-none invisible;
  }
  .visually-hidden {
    @apply absolute whitespace-nowrap w-0 h-0 overflow-hidden border-0 p-0 m-0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
  .loader {
    @apply w-[254px] h-[254px] absolute animate-[loader-rotate_2s_infinite_cubic-bezier(0.62,0.49,0.52,0.32)] skew-x-[20deg] skew-y-[20deg] origin-center rounded-[50%];
  }
  .loader-icon1 {
    @apply [rotate:4deg] border-b-8 border-b-dodger-blue border-solid;
  }
  .loader-icon2 {
    @apply [rotate:129deg] border-b-8 border-b-white-dis border-solid;
  }
  .loader-icon3 {
    @apply [rotate:272deg] border-b-8 border-b-mid-green border-solid;
  }
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  5% {
    transform: translateY(-6px);
    opacity: 0.9;
  }
  10% {
    transform: translateY(-12px);
    opacity: 0.8;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  30% {
    transform: translateY(-22px);
    opacity: 0.6;
  }
  40% {
    transform: translateY(-25px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-25px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(-25px);
    opacity: 0;
  }
  70% {
    transform: translateY(25px);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  90% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  95% {
    transform: translateY(6px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  5% {
    transform: translateY(-6px);
    opacity: 0.9;
  }
  10% {
    transform: translateY(-12px);
    opacity: 0.8;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  30% {
    transform: translateY(-22px);
    opacity: 0.6;
  }
  40% {
    transform: translateY(-25px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-25px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(-25px);
    opacity: 0;
  }
  70% {
    transform: translateY(25px);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  90% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  95% {
    transform: translateY(6px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loader-rotate {
  0% {
    transform: skewX(20deg) skewY(20deg) rotate(0deg);
  }
  100% {
    transform: skewX(20deg) skewY(20deg) rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos] {
    pointer-events: auto !important;
  }

  html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
    opacity: 1 !important;
  }

  html:not(.no-js) [data-aos='fade-up'] {
    transform: none !important;
  }
}
