@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }
  h2 {
    @apply text-2xl;
  }
  /* ... */
}
@layer components {
  .container {
    @apply px-4 my-0 mx-auto;
    @apply sm:w-full;
    @apply md:max-w-screen-md mx-auto;
    @apply lg:max-w-5xl;
    @apply xl:max-w-7xl;
  }
  .outline-text {
    color: white; /* Unfortunately you can't use transparent here … */
    text-shadow:
      -1px -1px 0 #fff,
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
      1px 2px 0 #fff;
  }

  .section {
    @apply py-14 my-0 w-full;
    /* @apply lg:py-lg; !!! Помилка webpack.cache !!!  */
  }
  .button {
    @apply cursor-pointer;
  }
  .is-hiddden {
    @apply opacity-0 pointer-events-none invisible;
  }
  .visually-hidden {
    @apply absolute whitespace-nowrap w-0 h-0 overflow-hidden border-0 p-0 m-0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
  }
  .hover-gadget-link:hover,
  .hover-gadget-link:focus {
   @apply bg-dark-blue;

  }
  .hover-gadget-link:hover img,
  .hover-gadget-link:focus img {
  transform-origin: top right;
  transform: scale(1.25);

  }
  .hover-gadget-link:hover h3,
  .hover-gadget-link:focus h3 {
  @apply md:text-xl md:mb-1;
   @apply xl:text-[28px] xl:mb-2;
  
  }
  .hover-gadget-link:hover p,
  .hover-gadget-link:focus p  {
  @apply block;
  }
  .hover-laptop:hover img,
  .hover-laptop:focus img {
     @apply translate-x-[10px];
   
  }
  /* ... */
}

@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  5% {
    transform: translateY(-6px);
    opacity: 0.9;
  }
  10% {
    transform: translateY(-12px);
    opacity: 0.8;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  30% {
    transform: translateY(-26px);
    opacity: 0.6;
  }
  40% {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(-30px);
    opacity: 0;
  }
  70% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  90% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  95% {
    transform: translateY(6px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  5% {
    transform: translateY(-6px);
    opacity: 0.9;
  }
  10% {
    transform: translateY(-12px);
    opacity: 0.8;
  }
  20% {
    transform: translateY(-20px);
    opacity: 0.7;
  }
  30% {
    transform: translateY(-26px);
    opacity: 0.6;
  }
  40% {
    transform: translateY(-30px);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-30px);
    opacity: 0.4;
  }
  60% {
    transform: translateY(-30px);
    opacity: 0;
  }
  70% {
    transform: translateY(30px);
    opacity: 0;
  }
  80% {
    transform: translateY(20px);
    opacity: 0.3;
  }
  90% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  95% {
    transform: translateY(6px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
