:root {
  --base-bg-blue: #06278b;
  --white-primary-color: #f8fcff;
  --base-text-blue: #1b37aa;
  --base-text-black: #0b122f;
  --accent-vivid-blue-gradient: linear-gradient(
    97deg,
    #20b9f4 0%,
    #31e081 100%
  ); //gradient for icons and dots on співпраця
  --accent-vivid-blue: rgba(23, 245, 245, 0.96); //phones color
  --section-padding: 102px;
}
